{
  "parser": "@typescript-eslint/parser",
  "extends": [
    //"standard",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:mdx/recommended"
  ],
  "plugins": ["@typescript-eslint", "prettier", "react", "jsx-a11y"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-useless-constructor": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": "error",
    "no-useless-constructor": "off",
    "react/prop-types": "off",
    "react/display-name": "off"
  },
  "overrides": [
    {
      "files": ["__mocks__/**/*.js", "**/*.spec.{ts,tsx}"],
      "env": {
        "jest": true
      },
      "rules": {
        "no-restricted-globals": [
          "error",
          {
            "name": "fit",
            "message": "Use it instead."
          },
          {
            "name": "fdescribe",
            "message": "Use describe instead."
          }
        ],
        "no-restricted-properties": [
          "error",
          {
            "object": "describe",
            "property": "only",
            "message": "Use describe instead."
          },
          {
            "object": "it",
            "property": "only",
            "message": "Use it instead."
          },
          {
            "object": "test",
            "property": "only",
            "message": "Use test instead."
          }
        ]
      }
    },
    {
      "files": ["*.md"],
      "rules": {
        "prettier/prettier": [
          2,
          {
            // unnecessary if you're not using `eslint-plugin-prettier`, but required if you are
            "parser": "markdown"
          }
        ]
      }
    },
    {
      "files": ["*.mdx"],
      "extends": ["plugin:mdx/overrides"]
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
