@import '../scss/_utilities';

.blog-post {
  .blog-toc {
    padding-top: map.get($spacers, 5);
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    z-index: $zindex-sticky;
    width: 100%;
    align-self: start;

    &>.blog-toc-level {
      border-left: 1px solid #eee;
    }

    ul {
      list-style: none;
      padding-left: 1rem;
    }
  }
}