@import '../../scss/_global';

.footer-text {
  text-align: center;
  @include media-breakpoint-up(lg) {
    text-align: justify;
    white-space: normal;
    word-break: break-word; // IE & < Edge 18
    overflow-wrap: break-word;
  }
}