@import '../../scss/global';

.content {
  margin-top: 3.5rem;

  section {
    padding: $jumbotron-padding ($jumbotron-padding / 2);

    @include media-breakpoint-up(sm) {
      padding: $jumbotron-padding $jumbotron-padding;
    }
  }
}