@import '../../scss/_utilities';

.vertical-layout {
  width: 100%;
  & > header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: $zindex-sticky;
  }
}

.vertical-content {
  width: 100%;
  main,
  .main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: stretch;
    min-height: 100vh;
    padding: map-get($spacers, 5) calc(map-get($spacers, 5) / 2);
    margin-bottom: map-get($spacers, 5);

    @include media-breakpoint-down(xl) {
      padding: map-get($spacers, 5);
    }
    @include media-breakpoint-up(xl) {
      padding: map-get($spacers, 5) calc(map-get($spacers, 5) * 2);
    }

    & > .container {
      padding: 0;
    }
  }
}