@import '../scss/global';

.resume {
  min-height: 100vh;
  padding: $jumbotron-padding ($jumbotron-padding / 2);

  @include media-breakpoint-up(sm) {
    padding: ($jumbotron-padding * 2) $jumbotron-padding;
  }
  h2 {
    @extend .mb-5;
  }
}