@import '../../scss/_utilities';

.post-preview {
  margin: .5rem 0;

  .post-preview-image {
    height: 225px;
  }
  
  .post-preview-overlay {
    display: flex;
    align-items: center;
    top: auto;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.54);
    padding: 1.25rem;

    .btn {
      z-index: $stretched-link-z-index + 1;
      color: $white;

      &:hover,
      &:focus {
        background-color: $cyan-600 !important;
        border-color: $cyan-600 !important;
      }
    }
  }

  .post-time-info {
    margin-bottom: .5rem;
  }

  .tags {
    justify-content: center;
    .tag {
      z-index: $stretched-link-z-index + 1;
    }
  }
}