@import '../../scss/_utilities';

.post-card {
  align-items: center;

  & > article {
    width: 100%;
    max-width: 725px;
  }
  
  .blog-title-image,
  .blog-title-image > .figure-img {
    width: 100%;
    max-height: 400px;
    max-width: 725px + 128px;
  }

  .post-time-info {
    margin-bottom: 1rem;
  }

  .tags {
    margin-bottom: 1rem;
  }

  #share-menu-top {
    margin-bottom: 2rem;
  }

  #share-menu-bottom {
    margin: 2rem 0;
  }
}