.post-card {
  align-items: center;

  & > article {
    max-width: 725px;
  }
  
  .blog-title-image {
    width: 100%;
    align-self: center;
  }

  .post-time-info {
    margin-bottom: 1rem;
  }

  .tags {
    margin-bottom: 1rem;
  }

  #share-menu-top {
    margin-bottom: 2rem;
  }

  #share-menu-bottom {
    margin: 2rem 0;
  }
}