@import '../../scss/_utilities';

.blog-toc {
  .blog-toc-level {
    flex-direction: column;
  }
  .blog-toc-entry > a {
    color: $gray-600;
    cursor: pointer;
    &:hover {
      color: $link-color;
    }
    &.active {
      color: $link-color;
      text-decoration: underline;
    }
  }
}