@import '../../scss/global.scss';

.photo-card.card {
  border: 0;
  background-color: inherit;
  align-items: center;

  .card-img {
    // TODO: remove height or adapt
    height: 10rem;
    max-height: 10rem;
    max-width: 10rem;
  }
}