@import '~bootstrap/scss/_functions';

// Fonts

$font-family-sans-serif:      BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;

// Headings

$headings-line-height: 1.25;

// Body

$line-height-base: 1.75;

// Sizes

$vh-sizes: (
  25vh: 25vh,
  33vh: 33vh,
  50vh: 50vh,
  66vh: 66vh,
  75vh: 75vh,
  100vh: 100vh
);

// Colors
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;

$orange:  #D77D4B; // changed
$yellow: #F3B700; // changed
$cyan:    #28AFB0; // changed

// social
$twitter: #1da1f2;
$linkedin: #0077b5;
$github: #121111;
$reddit: #EE5528;
$facebook: #3079EA;

$primary:       $orange;
$secondary:     $cyan;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;

// add extra theme colors
$custom-colors: (
  "github": $github,
  "linkedin": $linkedin,
  "twitter": $twitter,
  "reddit": $reddit,
  "facebook": $facebook
);

// this is for AAA
$link-color: shade-color($primary, 13%);

$stretched-link-z-index: 1;

@import '~bootstrap/scss/_variables';

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);