@import '../../scss/global';

#navbar-header {
  .navbar-collapse hr {
    margin: .5rem 0;
  }
  .social-icons .nav-link {
    font-size: 1.25rem;
    margin-right: 1rem;
  }
  @include media-breakpoint-down(lg) {
    background-color: $primary;
    // @include navbar-dark;
  }
  @include media-breakpoint-up(lg) {
    background-color: transparent;
    // @include navbar-light;
  }
}