@import '../../scss/global.scss';

#navbarLeft {
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 7.5rem;
  z-index: $zindex-fixed;
  min-height: 100vh;

  .navbar-brand {
    margin-right: 0;
    
    .photo-card .card-img {
      border: 0.5rem solid scale-color($white, $alpha: -80%);
    }
  }

  .social-icons {
    font-size: 1.25rem;
  }
}